<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视图</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css" />
    <script type="text/javascript" src="/lib/layui/layui.js"></script>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        .layui-lab-spa{
            padding: 10px;
        }
        img{
            width: 150px;
            height: auto;
        }
        .layui-li{
            margin-left: 10px;
            margin-top: 5px;
        }
        .layui-but{
            text-align: center;

        }
    </style>
</head>
<body>
    <div class="layui-row">
        <ul class="layui-ul">
            <li class="layui-li">
                <div class="layui-col-md1">
                   <div class="layui-img">
                       <img src="/img/sg.jpg">
                   </div>
                    <div class="layui-lab-spa">
                        <label>广告名称：<span>dsjd</span></label>
                    </div>
                    <div class="layui-lab-spa">
                        <label>宣传标题：<span>dsjd</span></label>
                    </div>
                    <div class="layui-lab-spa">
                        <label>宣传内容：<span>dsjd</span></label>
                    </div>
                    <div class="layui-lab-spa">
                        <label>广告链接：<span>dsjd</span></label>
                    </div>
                    <div class="layui-lab-spa">
                        <label>创建日期：<span>dsjd</span></label>
                    </div>
                    <div class="layui-lab-spa">
                        <label>广告位置：<span>dsjd</span></label>
                    </div>
                    <div class="layui-lab-spa">
                        <label>广告状态：<span>dsjd</span></label>
                    </div>
                    <div class="layui-upload-button layui-but">
                        <button type="button" class= "layui-btn layui-btn-fluid">操作</button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</body>
</html>